*{
    box-sizing: border-box;
}


th,td{
    border: 1px solid black;
    padding: 10px;
}
td{
    width: 500px;
    height: 100px;
}
tr:nth-child(even)
{
    background-color: lightblue;
}
table+div{   
    padding: 10px;
    border: 5px solid black;
    width: 20vw;
    height: 30vh;
}

table+div>*{
    margin: 5px;
}

td>div>button{
    margin: auto;
    width: 50px;
    height: 50px;
}
td>div:nth-child(2)
{
    float: right;
}
td>div:nth-child(1)>p
{
    width: 200px;
    float: left;
}
td>div{
    display: inline;
    margin: 5px;
}

