*{

    box-sizing: border-box;
}


th,td{
    border: 1px solid black;

}
tr:nth-child(even)
{
    background-color: lightblue;
}
div{   
    padding-left: 10px;
    padding-bottom: 10px;
    border: 5px solid black;
    width: 12vw;
}
td>button{
    display: block;
    float: left;
}
